<div id="container">
  <p>Sign In</p>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <br>
  <ion-button color="danger" (click)="signIn()">Sign In</ion-button>
  <br><br>
  <h6 id="grey-p">You don't have an account? <a (click)="navigateToSignUp()">Sign Up</a></h6>
</div>