<!-- side menu -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="menu-display">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-item style="margin-left: 0 !important">
      <ion-img class="logo" src="../../../assets/logoOloreSlack.png" ></ion-img>
      <ion-title style="padding-inline-start:5px;font-size: 1.7em;">
        OloreSlack
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-menu class="my-custom-menu" side="start" menuId="main" contentId="main">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>{{workspace_name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-list-header class="my-list-header">
        <ion-label>Channels</ion-label>
        <ion-button (click)="addChannel()">
          <ion-icon class="my-add" slot="start" name="add"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item class="channel-item" *ngFor="let channel of channelsToShow" routerLink='/workspace/channel/{{channel.id}}'>
        <ion-label>{{channel.name}}</ion-label>
        <ion-icon name="alert-outline" (click)="channelId=channel.id" (click)="leaveChannelPopover()"></ion-icon>
      </ion-item>
    </ion-list>

    <!-- <ion-list>
      <ion-list-header class="my-list-header">Users</ion-list-header>
      <ion-item *ngFor="let user of users" (click)="sendPrivateMessage(user.email)">
        <ion-label>{{user.username}}</ion-label>
      </ion-item>
    </ion-list> -->
  </ion-content>
  <ion-button expand="block" color="danger" (click)="settingsActionSheet()">Settings <ion-icon name="settings-outline"></ion-icon></ion-button>
</ion-menu>

<!-- main content-->

<!-- <div>
  <p *ngFor='let number of test'>Ciao {{number}}</p>
</div> -->

<div id="container" *ngIf="!channelSelected">
  <strong>No channel selected yet!</strong>
</div>


<ion-router-outlet id="main"></ion-router-outlet>