<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item style="margin-left: 0 !important">
      <ion-img class="logo" src="../../../assets/logoOloreSlack.png" ></ion-img>
      <ion-title style="padding-inline-start:5px;font-size: 1.7em;">
        OloreSlack
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<div id="container">
  <p>Sign In</p>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <br>
  <ion-button color="danger" (click)="signIn()">Sign In</ion-button>
  <div *ngIf="gotError">
    <p style="color:#fc3650;text-align:center">{{message}}</p>
  </div>
  <br><br>
  <h6 id="grey-p">You don't have an account? <a (click)="navigate('sign-up')">Sign Up</a></h6>
</div>