.channel-name{
    display: inline;
}

.channel-div{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.channel-buttons{
    margin-top: 1em;
}

#message{
    width: 100vw;
}

#message p{
    font-size: 1.2em;
    display: block;
}
#message span{
    color: grey;
    display: block;
    text-align: right;
    font-style: italic;
}

.my-item{
    --ion-item-background: #121212 !important
}

ion-chip{
    width: 98vw;
    height: 50px;
    position:fixed;
    bottom:20px;
    background-color: #383a3e;
}

ion-icon{
    color:white;
    font-size: 2em;
}

ion-input{
    color:white;
    font-size: 2em;
}

