<ion-content>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>
  <ion-item>
    <div class="channel-div">
      <h2 class="channel-name">{{channel_name}}</h2>
      <ion-buttons class="channel-buttons">
        <ion-button (click)="showUsers()">Users</ion-button>
        <ion-button>Add user</ion-button>
      </ion-buttons>
    </div>
  </ion-item>
  <ion-list>
      <ion-item class="my-item" *ngFor="let message of messagesList">
        <div id="message">
          <h3>{{getUsername(message.userId)}}</h3>
          <p>{{message.content}}</p>
          <span>{{message.time | date: "HH:mm:ss dd/MM/yyyy"}}</span>
        </div>
      </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-chip>
    <ion-input [(ngModel)]="messageInput" placeholder="write here..."></ion-input>
    <ion-icon name="arrow-forward-outline" (click)="sendMessage()"></ion-icon>
  </ion-chip>
</ion-content>