#spacing-56px{
    margin-top: 56px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

h1{
    position: relative;
    font-size: 23px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

ion-item ion-label{
    font-size: 23px;
    color: red;
    font-weight:500;
    padding-inline-start: 0;
}

ion-button{
    width: 100%;
}